<div class="sidebar-box">
    <img src="images/person_1.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid mb-4 w-50 rounded-circle">
    <h3 class="text-black">Yazar hakkında</h3>
    <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
    <p><a href="#" class="btn btn-primary btn-md text-white">Read More</a></p>
</div>