@model List<About>
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 order-lg-2">
                <img src="~/carrent-master/images/hero_2.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 mr-auto">
                <h2>@Model[0].Title</h2>
                <p>@Model[0].Description</p>
            </div>
        </div>
    </div>
</div>