@model List<Testimonial>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Referanslar</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Ünvanı</th>
        <th>Ad Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TestimonialId</td>
            <td> <img src="@item.ImageUrl" style="width:100px;height:75px;border-radius:50%" /></td>
            <td>@item.Title</td>
            <td>@item.NameSurname</td>
            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-outline-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/CreateTestimonial" class="btn btn-outline-primary">Yeni Referans Girişi</a>

