@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<div class="theme-loader">
    <div class="loader-track">
        <div class="loader-bar"></div>
    </div>
</div>
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">

        @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")

        @await Component.InvokeAsync("_CoverUILayoutComponentPartial")

        @RenderBody()

        @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

    </div>
    @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")


</body>

</html>

