<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <img src="~/carrent-master/images/hero_1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-4 ml-auto">
                <h2>Bizim Hikayemiz</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit suscipit, repudiandae similique accusantium eius nulla quam laudantium sequi.</p>
                <p>Debitis voluptates corporis saepe molestias tenetur ab quae, quo earum commodi, laborum dolore, fuga aliquid delectus cum ipsa?</p>
            </div>
        </div>
    </div>
</div>