

<ul class="comment-list">

    <h3 class="mb-5">1 Comments</h3>
    <li class="comment">
        <div class="vcard bio">
            <img src="images/person_2.jpg" alt="Free Website Template by Free-Template.co">
        </div>
        <div class="comment-body">
            <h3>Jacob Smith</h3>
            <div class="meta">January 9, 2018 at 2:21pm</div>
            <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way.</p>
            <p><a href="#" class="reply">Reply</a></p>
        </div>
    </li>


</ul>