@model CarCategory
@{
    ViewData["Title"] = "AddCarCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h3>Yeni Kategori Girişi</h3>

<form method="post">
    <label>Kategori Adı</label>
    <input type="text" style="border:2px solid #2222" asp-for="CategoryName" class="form-control" />
    <br />
       <label>Kategori Açıklaması</label>
    <input type="text" style="border:2px solid #2222" asp-for="Description" class="form-control" />
    <br />
    <label>Kategori Durumu</label>
    <select asp-for="Status" class="form-control" style="border:2px solid #2222">
        <option value="True">Aktif</option>
        <option value="False">Pasif</option>
    </select>
    <br />
    <button class="btn btn-primary">Kategoriyi Kaydet</button>

</form>

